*{
	margin: 0px;
	padding: 0px;
}
.wrap3{
background-color: #f4f4f4;
}
.header{
	background-color:  #17a2d4;
}
.img1 {
	float:right;
	width: 54px;
	margin-right: 150px;
	padding-bottom: 5px;
}
.clear{
	clear: right;
}
h2{
	font-family: Lato;
	color:  #f4f4f4;
	font-size: 24px;
	font-weight: 800;
	text-align: left;
	padding-top: 10px;
	
	margin-left: 150px;
}
.content{
	padding-bottom: 43px;
}
.content .block{
	margin: 100px auto;
	border-radius: 3px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
	width: 1024px;
	height: 757px;
}

.block1{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color:  #fbfbfb;
	width: 1024px;
	height: 120px;
}
.img2{
	float:left;
	width: 77px;
	height: 77px;
}
h3{
	font-family: Lato;
	color:  #000000;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	padding-top: 20px;
	/*margin-left: 20px;*/
	display: block;
	margin: 0px 20px 0px 20px; 
}
h4{
	font-weight: 400;
	float: left;
	margin-bottom: 20px;
}
.btn1{
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color:  rgba(0, 0, 0, 10);
	box-sizing: border-box;
	background-color:  #fbfbfb;
	width: 38px;
	height: 38px;
	float: right;
	margin-right: 20px; 

}
.clear{
	clear: both;
}
.prof_sch_ros{
	background-color:  #ffffff;
	box-shadow: 0px 3px 3.92px 0.08px rgba(0, 0, 0, 0.18);
	width: 1024px;
	height: 60px;
}
h4 {
	font-family: Lato;
	color:  #000000;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	text-align: left;
	margin-right: 20px;
	margin-left: 20px;
}
.block2{
	margin-top: 20px;
}
.upcoming_btn{
	border-bottom-left-radius: 3px;
	background-color:  #e9e9e9;
	width: 180px;
	height: 40px;
	font-family: Lato;
	color:  #000000;
	font-size: 18px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: center;
	margin-left: : 20px;
	display: block;
	float: left;

}
.past_btn{
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	background-color:  #17a2d4;
	width: 180px;
	height: 40px;
	font-family: Lato;
	color:  #ffffff;
	font-size: 18px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: center;
}
.create_btn{
	border-radius: 3px;
	background-color:  #17a2d4;
	width: 180px;
	height: 40px;
	font-family: Lato;
	color:  #fefefe;
	font-size: 18px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: center;
	float: right;
}
