body{
	background-color: #f6f6f6;
}
.wrap{
	border-radius: 3px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
	width: 500px;
	margin: 100px auto;
}
.header{
	background-color:  #17a2d4;
	font-family: Lato;
	color:  #f4f4f4;
	font-size: 30px;
	font-weight: 800;
	text-align: center;
	padding: 15px;
}
.content1{
	padding: 25px;
}
.content1 .form {
	margin-bottom: 20px;
}
 input{
	border-radius: 3px;
	border-width: 1px;
	border-color:  #e8e8e8;
	border-style: solid;
	background-color:  #f6f6f6;
	width: 448px;
	height: 58px;
	padding-left: 10px;
	font-size: 18px;
}
.login{
	border-radius: 3px;
	background-color:  #17a2d4;
	width: 450px;
	height: 60px;
	color: #fff;
	text-align: left;
	padding-left: 10px;
	font-size: 18px;
}
.btn1{
	border-radius: 3px;
	background-color:  #3b5998;
	width: 210px;
	height: 60px;
	color: #fff;
	font-size: 18px;
	float: left;
	margin-right: 30px;

}
.btn2{
	border-radius: 3px;
	background-color:  #d34836;
	width: 210px;
	height: 60px;
	color: #fff;
	font-size: 18px;
	float: left;
}
.clear{
	clear: both;
}
.forgot1{
	float: left;
	color: #333;
	text-decoration: none;
	font-size: 18px;
}
.sign{
	float: right;
	color: #333;
	text-decoration: none;
	font-size: 18px;
}

